{{#is_constructor}}{{#mustache_config.display_constructor_as_instantiation}}new {{{class_name}}}{{/mustache_config.display_constructor_as_instantiation}}{{^mustache_config.display_constructor_as_instantiation}}constructor{{/mustache_config.display_constructor_as_instantiation}}{{/is_constructor}}{{^is_constructor}}{{^is_member}}{{^mustache_config.disable_export_keyword}}export function {{/mustache_config.disable_export_keyword}}{{/is_member}}{{#is_member}}{{#is_static}}static {{/is_static}}{{/is_member}}{{#ts_name_should_escape}}"{{/ts_name_should_escape}}{{{name}}}{{#ts_name_should_escape}}"{{/ts_name_should_escape}}{{/is_constructor}}({{#arguments}}{{> function_argument_declaration}}{{/arguments}}){{^is_constructor}}: {{#return_type}}{{> type}}{{#is_optional}} | undefined{{/is_optional}}{{/return_type}}{{/is_constructor}}