{{^is_enum}}{{^is_member}}export {{#is_read_only}}const {{/is_read_only}}{{/is_member}}{{#is_member}}{{#is_static}}static {{/is_static}}{{#is_read_only}}readonly {{/is_read_only}}{{/is_member}}{{/is_enum}}{{#is_member}}{{/is_member}}{{#ts_name_should_escape}}"{{/ts_name_should_escape}}{{{name}}}{{#ts_name_should_escape}}"{{/ts_name_should_escape}}{{#is_member}}{{/is_member}}{{#constant_value}} = {{#type}}{{> value}}{{/type}}{{/constant_value}}{{^constant_value}}{{#type.is_optional}}?{{/type.is_optional}}: {{#type}}{{> type}}{{/type}}{{/constant_value}}{{#is_enum}}{{^is_last}},{{/is_last}}{{/is_enum}}