{{#ts_has_comments}}
/**
  {{#is_prerelease}}
 * @{{{prerelease}}}
  {{/is_prerelease}}
  {{#is_deprecated}}
 * @deprecated This type is deprecated and will be removed in {{{deprecated_version}}}.
    {{#deprecated_description_ts.length}}
 *
      {{#deprecated_description_ts}}
 * {{{.}}}
      {{/deprecated_description_ts}}
    {{/deprecated_description_ts.length}}
    {{#alias_description_ts.length}}
 *
    {{/alias_description_ts.length}}
  {{/is_deprecated}}
  {{#alias_description_ts}}
 * {{{.}}}
  {{/alias_description_ts}}
 */
{{/ts_has_comments}}
{{#is_script_generated}}
{{{raw_script_text}}}
{{/is_script_generated}}
{{^is_script_generated}}
{{#is_type_map}}
export type {{{alias_name}}} = {
{{#mappings}}
  '{{{name}}}': {{{value}}};
{{/mappings}}
};
{{/is_type_map}}
{{^is_type_map}}
THIS WILL TRIGGER AN ERROR. ONLY TYPE MAP ALIASES SUPPORTED FOR NATIVE METADATA.
{{/is_type_map}}
{{/is_script_generated}}
