# `{{{name}}}`
{{#module_description_md}}

{{{.}}}
{{/module_description_md}}
{{#version_is_prerelease}}

## **NOTE: This version of this module is still in pre-release.  It may change or it may be removed in future releases.**
{{/version_is_prerelease}}

See full documentation for this module here:

https://learn.microsoft.com/en-us/minecraft/creator/{{{from_module.folder_path}}}/{{{filepath_name}}}/{{{bookmark_name}}}