### `{{{enum_name}}}`
{{#enum_description}}
{{{.}}}
{{/enum_description}}

#### Values
{{#values}}
- `{{{value}}}`
{{#value_description}}
{{{.}}}
{{/value_description}}
{{/values}}
{{^is_last}}

{{/is_last}}