{{^type.is_keyword}}{{#is_optional}}[{{/is_optional}}{{^is_optional}}<{{/is_optional}}{{{param_name}}}: {{^type.syntax}}{{{type.name}}}{{/type.syntax}}{{#type.syntax}}{{{type.syntax}}}{{/type.syntax}}{{#is_optional}}]{{/is_optional}}{{^is_optional}}>{{/is_optional}}{{/type.is_keyword}}{{#type.is_keyword}}{{#is_optional}}[{{/is_optional}}{{{type.keyword_name}}}{{#is_optional}}: {{{type.name}}}]{{/is_optional}}{{/type.is_keyword}}