---
{{ >default_metadata }}
title: Minecraft Commands
description: List and descriptions of Minecraft commands and enums
---
# Minecraft Commands

For syntax and examples of built-in argument types, see [Built-in command argument types](../CommandTypes/index.md).

## Contents

- [Commands](#commands)
{{#command_enums.length}}
- [Command enums](#command-enums)
{{/command_enums.length}}

## Commands

|Command   |Description   |Required Permission Level  | Requires Cheats Enabled |
|----------|-----------|-----------|-----------|
{{#commands}}
| [`/{{{name}}}`](./commands/{{{name}}}.md) | {{{table_description}}} | {{permission_level_name}} | {{#requires_cheats}}Yes{{/requires_cheats}}{{^requires_cheats}}No{{/requires_cheats}} |
{{/commands}}

{{#command_enums.length}}
## Command enums

|Enum   |Description   |
|----------|-----------|
{{#command_enums}}
| [`{{{name}}}`](./enums/{{{name}}}.md) | {{{table_description}}} |
{{/command_enums}}
{{/command_enums.length}}
