- name: List of commands
  href: commands.md
{{#commands}}
- name: {{{name}}}
  href: commands/{{{name}}}.md
{{/commands}}
{{#command_types.length}}
- name: Command argument types
  items:
{{#command_types}}
  - name: {{{name}}}
    href: types/{{{name}}}.md
{{/command_types}}
{{/command_types.length}}
