---
{{ >default_metadata }}
title: {{{type_name}}} Command Argument Type
description: Description of the {{{type_name}}} command argument type
---
# `{{{type_name}}}` Command Argument Type
{{#type_description}}
{{{.}}}

{{/type_description}}
