#### Examples
{{#examples}}

##### ***{{{name}}}***

```typescript
  {{#code}}
    {{#text}}
{{{ . }}}
    {{/text}}
  {{/code}}
```

(preview) Work with this sample on the [MCTools.dev](https://mctools.dev/?open=gp/{{{name}}}) code sandbox.
{{/examples}}