{{#type.is_string}}"{{/type.is_string}}{{#type.is_array}}[{{#value}}{{{value}}}{{^is_last}}, {{/is_last}}{{/value}}]{{/type.is_array}}{{^type.is_array}}{{{value}}}{{/type.is_array}}{{#type.is_string}}"{{/type.is_string}}